$content-maxw: 1361px;
$content-maxw-big: 1661px;
$bg_black:#101111;
$bg_white:#fff;
$fc_grey: rgba(255, 255, 255, 0.75);
$fc_dark_grey: #565656;
$fc_wjite:#fff;
$fc_light_white:#c4ebff;
$bg_green: rgba(99, 133, 150, 0.5);
$fc_black:#101111;
$fc_light_grey: rgba(255, 255, 255, 0.8);